@media (min-width: 980px){
    body{
	padding-top:60px;
    }
    .linediv-l{
	border-right:1px white solid;
    }
    .linediv-r{
	border-left:1px white solid;
    }
    
}
/*Landscape phones and down*/
@media (max-width: 480px){
    .copy{
	padding:2.5% 10%;
    }
    .linediv-l{
	border-bottom: 1px white solid;
    }
    .linediv-r{
	border-top: 1px white solid;
    }
}
/* All form factors*/
/*Main body and headings*/

html, body{
    height:100%;
}

body{
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.heading, .subheading{
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    text-align:center;
}
p.lead{
    padding-top: 1.5%;
    font-size:24px;
    line-height:30px;
}
p {
    font-size:18px;
    line-height:24px;
}
/*Video pitch and Action */
.pitch{
    padding: 2.5% 0%;
}
.order{
    padding: 2% 0%;
}
.actions{
    background-color: #343434;
    padding: 3% 0%;
}
.video, .thermometer, .order, .social, .statistics{
    text-align: center;
}
.statistics h3, .statistics p {
    color:white;
}

div.wrap{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -35px;
    padding: 0 0 35px;
}
/*Marketing Copy And Footer*/
.copy{
    padding-top: 2.5%;
    padding-bottom:2.5%;
    text-align: justify;
}
.asset{
    padding:2.5% 0%;
}
.footer{
    color: #cccccc;
    background: #111;
    text-align: center;
    border-top: 1px solid #ccc;
    -moz-box-shadow: 0 4em 3em 4em #111;
    -webkit-box-shadow: 0 4em 3em 4em #111;
    box-shadow: 0 0 2.5em .1em #555;
}
.footer p {
    font-size: 11px;
}
.footer a{
    color: #ccccff;
}