@media (min-width: 980px){
    .linediv-l{
	border-right:1px white solid;
    }
    .linediv-r{
	border-left:1px white solid;
    }
    
}

/*Landscape phones and down*/
@media (max-width: 480px){
    .copy{
	padding:2.5% 10%;
    }
    .linediv-l{
	border-bottom: 1px white solid;
    }
    .linediv-r{
	border-top: 1px white solid;
    }
}
/* All form factors*/
/*Main body and headings*/

html, body{
    height:100%;
}

body{
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    color: rgb(68, 68, 68);
}
body a{
 color:rgb(68, 68, 68);
}

/* Nav bar*/
.logotipas{
    border-top: #ccc solid 1px;
    border-bottom: #ccc solid 1px;
    color:#62855c;
    padding-top:10px;
    margin-bottom: 20px;
}




*, *:before, *:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.heading, .subheading{
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    text-align:center;
}
p.lead{
    padding-top: 1.5%;
    font-size:24px;
    line-height:30px;
}
p {
    font-size:18px;
    line-height:24px;
}
/*Video pitch and Action */
.pitch{
    padding: 2.5% 0%;
}
.order{
    padding: 2% 0%;
}
.actions{
    background-color: #343434;
    padding: 3% 0%;
}
.video, .thermometer, .order, .social, .statistics{
    text-align: center;
}


div.wrap{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: -71px auto -35px;
    padding: 71px 0 35px 0;
}
/*Marketing Copy And Footer*/
.copy{
    padding-top: 2.5%;
    padding-bottom:2.5%;
    text-align: justify;
}
.asset{
    padding:2.5% 0%;
}
.footer{
    color: rgb(255, 255, 255);
    background: #62855c;
    text-align: center;
    border-top: 1px solid #62855c;
}
.footer p {
    font-size: 11px;
}
.footer a{
    color: rgb(68, 68, 68);;
}